<div id="<%= dom_id album %>">
  <p>
    <strong>Title:</strong>
    <%= album.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= album.description %>
  </p>

  <p>
    <strong>Thumbnail:</strong>
    <% if album.thumbnail.representable? %>
    <%= image_tag (album.thumbnail) %>
    <% end %>
  </p>

</div>
