<h1>Events</h1>

<h3>Featured Events</h3>

<div class="row">
  <% @featured.each do |f| %>
    <div class="col col-md-3">
      <div class="card">
        <div class="card-body">
          <strong><%= f.title %></strong>
          <p><%= f.details %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= month_calendar do |date| %>
  <%= date.day %>
<% end %>