<h1 class="text-center">Photo Albums</h1>

<% @albums.each do |a| %>
    <div class="row text-center" >
        <h2><%= a.title %></h2> 

        <strong><%= link_to "View Album", a %></strong>
    </div>
<% end %>