<div class="row">
    <div class="col text-center"><br>
        <p>image</p>
        <h1>harmoney club woostah</h1>
        <div class="row">
            <div class="col col-lg-4">
                <p>waving flag</p>
            </div>
            <div class="col col-lg-4">
                <p>waving flag</p>
            </div>
            <div class="col col-lg-4">
                <p>waving flag</p>
            </div>
        </div>
    </div>
</div>